{% extends 'base.html' %}
{% block title %}Assignments - Hypotanius Homework Helper{% endblock %}
{% block content %}
<div class="page-flex-center">
    <div class="panel" style="max-width:700px; width:100%;">
        <div class="panel-header">Assignments</div>
        <div class="todo-list">
            <div class="todo-item" style="display:flex;align-items:center;justify-content:space-between;">
                <span class="todo-label">Math Worksheet 1</span>
                <span class="todo-date">3/2/2025</span>
                <span class="points-badge">10 pts</span>
                <input type="checkbox" class="todo-checkbox" checked>
            </div>
            <div class="todo-item" style="display:flex;align-items:center;justify-content:space-between;">
                <span class="todo-label">Science Project</span>
                <span class="todo-date">21/3/2025</span>
                <span class="points-badge">20 pts</span>
                <input type="checkbox" class="todo-checkbox">
            </div>
            <div class="todo-item" style="display:flex;align-items:center;justify-content:space-between;">
                <span class="todo-label">Econs Essay</span>
                <span class="todo-date">21/12/2025</span>
                <span class="points-badge">15 pts</span>
                <input type="checkbox" class="todo-checkbox">
            </div>
            <div class="todo-item" style="display:flex;align-items:center;justify-content:space-between;">
                <span class="todo-label">Chemistry Lab</span>
                <span class="todo-date">9/3/2025</span>
                <span class="points-badge">12 pts</span>
                <input type="checkbox" class="todo-checkbox">
            </div>
        </div>
    </div>
</div>
{% endblock %} 